@media only screen and (max-width: 890px) {
    .header {
        display: none;
    }



    .h{
        margin-top: 100px;
    }
}


@media only screen and (max-width: 600px) {
    .about_text{
        width: 100%;
    }
}


