* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #272727;
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    color: #ffffff;
}

.text {
    font-size: 48px;
}

.holder {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px;
}

.header_holder {
    display: flex;
    justify-content: center;
}

.header {
    height: 60px;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    border-radius: 26px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_el {
    width: 168px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s ease;
}

.h {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 80px;
}

.contacts {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.contact {
    cursor: pointer;
    background-color: rgba(226, 226, 226, 0.10);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    transition: background-color 0.3s ease;
    margin-right: 20px;
    width: 150px;
    height: 50px;
}

.contact img {
    margin-right: 10px;
}

.contact:hover {
    background-color: rgba(187, 187, 187, 0.2);
}

.about_small {
    margin-top: 20px;
    font-size: 18px;
}

.skills {
    margin-top: 200px;
}

.skill_boxes {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill_box {
    height: 400px;
    width: 300px;
    margin: 30px 30px;
    background-color: rgba(136, 136, 136, 0.1);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease; /* добавлены переходы */
}

.skill_box:hover {
    background-color: rgba(136, 136, 136, 0.3); /* изменен цвет фона при наведении */
    margin-top: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.skill_box img {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}


.about_big{
    margin-top: 100px;
}
.about_text{
    display: flex;
    width: 550px;
    margin: 10px auto;
}