@media only screen and (max-width: 890px) {
    
    .header_holder {
      display: none;
    }
  
    .h {
      margin-top: 100px;
    }
  }

  @media only screen and (max-width: 500px) {

    .invisible {
        display: none;
      }

    * {
      margin: 0;
      font-size: 24px;
    }
  
    .holder {
      width: 90%;
      margin: 0 auto;
      padding: 0;
    }
  
    .about_text {
      width: 90%;
    }
  
    #section1{
      margin-top: 50px;
    }

    #section1 h1{
      text-align: center;
    }

    .frontend-text{
      margin-top: 10px;
      font-size: 40px;
      color: #bd0dbd69;
    }


    .skill_box {
      height: 300px;
    }
  
    
  }