.holder {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 20px;
}

.header_holder {
    display: flex;
    justify-content: center;
}

.header {
    color: #ffffff;
    height: 60px;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    border-radius: 20px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: rgb(255, 255, 255, 0.05);
}

.header li{
   list-style-type: none;
   text-decoration: none;
   cursor: pointer;
   opacity: 0.8;
   transition: 0.3s ease all;
}

.header li:hover{
    opacity: 1;
    color: #ffffff;
}

.header .active {
    opacity: 1;
    color: #ffffff;
}